Client/Service References/ZTBDService/ztbd11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8989/ztbd?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZTBD" />
  <xs:element name="InsertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZTBD" minOccurs="0" name="data" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZTBD" minOccurs="0" name="GetDataResult" nillable="true" type="q2:ArrayOfData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>